
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
@model OctOceanAMModules.Entity.Sys_PageUrlEntity
<div style="padding:20px;">
    <form method="post" class="layui-form layui-form-pane">
        <input asp-for="PageId" type="hidden" />

        <div class="layui-form-item">
            <label class="layui-form-label">页面标题:</label>
            <div class="layui-input-block">
                <input asp-for="PageTitle" type="text"  required lay-verify="required"  autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">页面链接:</label>
            <div class="layui-input-block">
                <input asp-for="PageUrl" type="text"  required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">父级菜单Id:</label>
            <div class="layui-input-block">
                <input asp-for="ParentMenuPageId" type="text"   required lay-verify="required" placeholder="只能输入数字" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">菜单序号:</label>
            <div class="layui-input-block"> 
                <input asp-for="MenuSortNum" type="text"   required lay-verify="required"  placeholder="只能输入数字"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">页面功能</label>
            <div class="layui-input-block">
                <div class="layui-textarea" style="  min-height:190px;">
                    @*<div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs-4">功能Code</div>
                <div class="layui-col-xs-4">功能名称</div>
                <div class="layui-col-xs-4">菜单</div>
            </div>
        </div>*@
                    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit" id="btnAddFun"><i class="layui-icon">&#xe642;</i>添加功能</a>
                    <table class="layui-table" lay-size="sm">
                        <thead>
                            <tr>
                                <th>功能Code</th>
                                <th>功能名称</th>
                                <th>关联菜单</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="myfuntbody">
                            
                        </tbody>
                    </table>




                </div>
            </div>
        </div>





        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-green" type="submit"><i class="layui-icon">&#xe609;</i>保存</button>
                <input type="reset" class="layui-btn layui-btn-primary" value="重置" />
            </div>
        </div>


    </form>
</div>
@section BottomScripts{
    <script>
 

    var status = '@ViewData["Status"]';
        if (status == '1') {
            layer.alert('操作完成！', { icon: 1 }, function () {
                //假设这是iframe页
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭

             });
        }
        else if (status == '-1') {
            layer.alert('该菜单已经存在！', { icon: 5 });
        }
        else if (status == '-2') {
            layer.alert('更新失败！', { icon: 5 });
        }

        var removefun = function (id) {
             
            $('#'+id).remove();

         }

        $('#btnAddFun').click(function () {
            var trid = 'funtr_' + ($('#myfuntbody').children('tr').length + 1);

            $('#myfuntbody').append(
                '<tr id="' + trid + '">'+
                    '<td><input type="text" /></td>'+
                    '<td><input type="text" /></td>'+
                '<td><input type="checkbox" style="display: inline;"/></td>' +
                '<td><a class="layui-btn layui-btn-xs layui-btn-danger" onclick="removefun(\'' + trid + '\')" ><i class="layui-icon">&#xe640;</i>移除</a></td></tr>'

            );

         

        });


        

    </script>
}


